<!-- <body class="bg">

   <div class="Head">
       <h1> 

           <img src="https://tse3.mm.bing.net/th?id=OIP.dA4jubmr0aC8-_YoGAqDrgHaEu&pid=Api&P=0&h=180" height ="150px" width ="180px" align="right">
           <img src="https://tse4.mm.bing.net/th?id=OIP.syohywbJwyYrbHGj9FqO2wHaFQ&pid=Api&P=0&h=180" height ="150px" width ="180px" align="left">
           <br><br><br>ONLINE FLIGHT BOOKING SYSTEM<br>
        </h1>
           
       <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
        BOOK YOUR NEXT ADVENTURE WITH FLIGHT YATRA - AVAILABLE 24/7 - SAFE AND RELIABLE TRAVEL
           </marquee>
           
       <div class="buttons">
       
       <ul>
           
           <li><a class="ahome" routerLink="/home"><h2><b>HOME</b></h2></a></li>
           <br>
           <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
           <br>
           <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
           <br>
           <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
           <br>
           <li><a routerLink='/searchflights'>FLIGHT-SCHEDULE</a></li>
       </ul>
       
       </div>
       <div class="logo-container">
        <img src="https://logos.skyscnr.com/images/airlines/49.png" alt="IndiGo" class="airline-logo">
        <img src="https://logos.skyscnr.com/images/airlines/VS.png" alt="Virgin Atlantic" class="airline-logo">
        <img src="https://logos.skyscnr.com/images/airlines/AI.png" alt="Air India" class="airline-logo">
        <img src="https://logos.skyscnr.com/images/airlines/QF.png" alt="Qantas" class="airline-logo">
        <img src="https://logos.skyscnr.com/images/airlines/IK.png" alt="Vistara" class="airline-logo">
        <img src="https://logos.skyscnr.com/images/airlines/AF.png" alt="Air France" class="airline-logo">
    </div>
       </div>
    <!-- </div>    -->
   
   <!-- </body> --> 

   <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4" >
    <div class="container">
      <a class="navbar-brand text-white" href="#">Flight Booking System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-black"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          &nbsp; &nbsp;<li class="nav-item">
            <a class="nav-link text-white" href="#about">About</a>
          </li>
          &nbsp; &nbsp;<li class="nav-item">
            <a class="nav-link text-white" href="#gallery">Gallery</a>
          </li>
          &nbsp; &nbsp;<li class="nav-item">
            <a class="nav-link text-white" href="#contact">Contact</a>
          </li>
          &nbsp; &nbsp;<li class="nav-item active">
            <a class="nav-link text-black" href="#services">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Landing page Image-->
  <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
      <div class="content text-center">
          <br><br>
          <div class="text-size-h1 text-white">Flight Booking System</div><br>
          <p class="text-grey"> Discover the joy of seamless travel planning with our flight booking service<br>
            Visit our website to explore a wide range of flight options, compare prices, and find the best deals</p><br>
         <button class="button-css" onclick="window.location.href='#about'">READ MORE</button>
      </div>
     
  </div>
  
  <!-- About -->
  <div class="container my-5 d-grid gap-5 content text-center" id="about">
      <div class="p-5 border">
        <div class="fade-scroll"><h2>ABOUT US</h2></div><br>
        <p class="animation appears-delayed text-black">
          Discover the joy of seamless travel planning with our comprehensive flight booking services. Visit our website 
          to explore a wide range of flight options, compare prices, and find the best deals. Our user-friendly platform 
          allows you to easily search for flights, view schedules, and choose from various airlines to suit your preferences
           and budget. Take advantage of exclusive discounts and promotions to save on your travel expenses. Enjoy a straightforward
            booking experience with instant confirmation, and access 24/7 customer support to assist with any queries or changes to your
             itinerary. Make safe and secure payments through our platform with multiple payment options. Whether you're planning a business trip, a family vacation, 
             or a last-minute getaway, booking a flight has never been easier. Get ready to embark on your next adventure with us!
            <br><br><b>Hope you have a great tour here!! Reach out to us for feedbacks and complaints.</b>
        </p><br>
        <button class="button-css-contact" onclick="window.location.href='#contact'">CONTACT US</button>
      </div>
  </div>

  <!-- Gallery -->
  <div class="container my-5 d-grid gap-5 content text-center" id="gallery">
    <div class="p-5 border">
        <div class="div-left">
            <div class="image-grid">
                <a href="#" class="gridimg1 inner"></a>
                <a href="#" class="gridimg2 inner"></a>
                <a href="#" class="gridimg3 inner"></a>
            </div>
        </div>
        <div class="div-right">
            <br><br><h2>GALLERY</h2><br>
            <p>Take a Look at some of the pictures, experiences and memories that were shared by our service takers.</p><br>
            <button class="button-css-contact" onclick="window.location.href='#gallery'">VIEW GALLERY</button>
        </div>
    </div>
  </div>

  <!-- Services -->
  <div class="container my-5 d-grid gap-5 content text-center"  id="services">
    <div class="p-5 border">
        <h2>CHOOSE A SERVICE</h2><br><br>
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 20rem; height: 25rem; border-radius: 15px;">
                <div class="inner">
                    <img src="https://cdn.pixabay.com/photo/2024/03/01/19/57/airbus-8607152_1280.jpg" class="card-img-top" style="border-radius: 15px;">
                </div>
                    <div class="card-body">
                      <h3><b>Are you a Admin?</b></h3>
                      <p>Admin login here to manage bookings and access exclusive travel tools!</p>
                      <br><button class="button-css-contact" routerLink="/AdminLogin"> Sign In </button>&nbsp;&nbsp; 
                    </div>
                  </div>
            </div>
            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 20rem; height: 25rem; border-radius: 15px; ">
                    <div class="inner">
                    <img src="https://thebrandhopper.com/wp-content/uploads/2021/07/img_103807_air_india_maharaja.jpg" class="card-img-top" style="border-radius: 15px;">
                </div>
                    <div class="card-body">
                      <h5><b>Are you a New User?</b></h5>
                      <p>Log in here to book your next flight and explore exclusive travel deals!
                      </p>
                      <br><button class="button-css-contact" routerLink="/userLogin"> Sign In </button>&nbsp;&nbsp;<button routerLink="/userreg" class="button-css-signin">Register</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
         
        </div>
    </div>
  </div>

  <!-- Contact us -->
  <!-- Contact Us Section -->
  <section class="contact-us" id="contact">
    <div class="container" style="margin-bottom: -50px;">
        <div class="row">
            <div class="col-md-12 text-white text-center" style="margin-top: -10px;">
                
                    <h2>CONTACT US</h2>
            
            </div>
        </div>
        <br><br>

        <div class="row" >
          <div class="col-lg-7">
              <form action="javascript:void(0)" (submit)="send()" class="mb-4 mb-lg-0"  [formGroup]="form" (ngSubmit)="send()">
                  <div class="form-row">
                      <div class="form-group">
                          <input  type="email"  formControlName="email"  class="form-control" name="email" id="email" placeholder="Your Email" />
                      </div><br>
                  </div>
                  <div class="form-group">
                      <input  type="text" class="form-control" formControlName="subject" name="subject" id="subject" placeholder="Subject" />
                  </div><br>
                  <div class="form-group">
                      <textarea   class="form-control" name="message" formControlName="message" placeholder="Type Message"></textarea>
                      
                  </div><br>
                  <button type="submit" class="button-css-contact-form">SUBMIT</button>
                  
              </form>
              
          </div>
           

          <div class="col-lg-5">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571289.733943155!2d76.08560099999998!3d29.058775699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e4a4b98404f57%3A0x75ffae70833e8448!2sShahbad%2C%20Haryana%20136135!5e0!3m2!1sen!2sin!4v1594195370933!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        </div>
    </div>
</section>


<div class="footer">
  <div class="parts">
      <div class="part" style="width:75%">
          <div class="part-top" >
              <h5><span>Sky</span>Airline</h5>
              <i class="fa-solid fa-plane"></i>
          </div>
          <div class="part-bottom">
              <ul>
                  <li>Top deals</li>
                  <li><a href="https://www.skyairline.com">Book A Flight</a></li>
                  <li>About us</li>
                  <li>Privacy</li>
                  <li>Terms of use</li>
                  <li>Cookie content</li>
              </ul>
          </div>
      </div>

      <div class="part">
          <div class="part-top-mail">
              <p> Discover exclusive flight deals</p>
              <input type="email" placeholder="Enter your mail, we will reach you">
          </div>
          <div class="part-bottom-icons">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-whatsapp"></i>
              <i class="fa-brands fa-x-twitter"></i>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-instagram"></i>
          </div>
      </div>
  </div>
</div>